/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
}

header {
    background-color: #1f1f1f;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #00ffcc;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

select, button {
    padding: 10px 15px;
    margin: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

select {
    background-color: #1f1f1f;
    color: #ffffff;
}

button {
    background-color: #00ffcc;
    color: #000000;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00cc99;
}

canvas {
    display: block;
    margin: 20px auto;
    border: 2px solid #00ffcc;
    border-radius: 10px;
    background-color: #000000;
}

footer {
    background-color: #1f1f1f;
    padding: 10px 0;
    margin-top: 40px;
    font-size: 0.9rem;
    color: #aaaaaa;
}

#demo-sound-list {
    list-style-type: none;
    padding: 0;
    display: none;
    text-align: center;
}

#demo-sound-list li {
    margin: 10px 0;
}

#demo-sound-list button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #00ffcc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#demo-sound-list button:hover {
    background-color: #00cc99;
}
